<header class="Header" role="banner">
	<div class="Header-item--full">
		<a href="<%= url('/') %>" class="Header-link">Cutting Edge</a>
	</div>
	<div class="Header-item">
		<a class="Header-link github-button" href="https://github.com/repotag/cutting_edge" data-show-count="true" aria-label="Star repotag/cutting_edge on GitHub">Star</a>
	</div>
</header>
