<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cutting Edge</title>
  <meta name="description" content="Cutting Edge">
  <meta name="author" content="Repotag">

  <link rel="stylesheet" href="/stylesheets/primer.css">

</head>

<body>



	<div class="container-lg">
		
		<header class="Header" role="banner">
			<div class="Header-item">Cutting Edge</div>
		</header>
		
	</div>
	
	
	
  <script src="js/scripts.js"></script>
</body>
</html>
