<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cutting Edge</title>
  <meta name="description" content="Cutting Edge">
  <meta name="author" content="Repotag">

  <link rel="stylesheet" href="/stylesheets/primer.css">

</head>

<body>



	<div class="container-lg">
		
		<%= erb :_header %>
		
		<br/>
		<div class="pagehead">
			<h1>Monitored Projects</h1>
		</div>
		<br/>

		<%= erb :_overview %>
		

		<br/>
		<% if @hidden_repos_exist %>
			<div id="hidden-repos">
				<details class="details-reset mt-3">
				  <summary class="btn-link link-gray">List hidden repositories <span class="dropdown-caret"></summary>
				  <div class="p-3 mt-2">
						<form id='token-form'>
							<div class="form-group" id="token-form-group">
						  	<div class="input-group">
									<input class="form-control input-contrast" name="token" type="text" placeholder="Enter your CuttingEdge token here">
									<span class="input-group-button">
							      <button class="btn" type="submit" aria-label="Submit">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="15" height="15"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM0 8a8 8 0 1116 0A8 8 0 010 8zm11.78-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg>
										</button>
									</span>
								</div>
							 	<p class="note error" id="token-input-validation"></p>
							</div>
						</form>
				  </div>
				</details>
			</div>
		<% end %>
		
		<%= erb :_footer %>
	</div>
	
	<script src="/javascript/cuttingedge.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
