<p>
This is <a href="<%= url %>">CuttingEdge</a> informing you that the dependency status for <%= project_name %> has changed.
</p>

<p>
<% dependencies[:locations].each do |location, groups| %>
In <%= location %>: <%= groups %>
<% end %>
</p>